/**
 * Please setup this file with your own API keys and rename the file to apiKeySetup.ts
 */

export const GEMINI_API_KEY = "YOUR_GEMINI_API_KEY";
export const CLAUDE_CODE_API_KEY = "YOUR_CLAUDE_CODE_API_KEY";
export const CLAUDE_CODE_API_URL = "YOUR_CLAUDE_CODE_API_URL";
